@font-face {
  font-family:"Modesto";
  src: url('fonts/Modesto Open FatOutline.ttf');
}

@font-face {
  font-family:"ModestoFecha";
  src: url('fonts/Modesto Poster Regular.ttf');
}

@font-face {
  font-family:"ModestoAPU";
  src: url('fonts/Modesto Condensed Regular.ttf');
}

@font-face {
  font-family:"ModestoTexto";
  src: url('fonts/Modesto Text Light.ttf');
}

@font-face {
  font-family:"ModestoTextoMedium";
  src: url('fonts/Modesto Text Medium.ttf');
}

@font-face {
  font-family:"ModestoTextoBold";
  src: url('fonts/Modesto Text Bold.ttf');
}

*{
  margin: 0px;
  padding: 0px;
  color: white;
  text-decoration: none;
  list-style: none;
}

header{
  width: 60vw;
  margin-left: 20vw;
  margin-right: 20vw;
  background-color: black;
  display: grid;
  grid-template-areas:
        "presentacion"
        "dia1"
        "dia2"
        "ubicacion";
  justify-content: center;
  grid-template-columns: 60vw;
}

#presentacion{
  grid-area: presentacion;
  display: grid;
  justify-content: center;
}

h1{
  position:fixed;
  left: -10000px;
}

h2{
  font-family: "Modesto";
  font-size: 2vw;
  text-align: center;
  padding-top: 6vh;
  padding-bottom: 4vh;
}

.marcoPortada{
  display: grid;
  grid-template-rows: 4vh auto;
}

#tituloFest{
  grid-row: 1;
  justify-self: center;
  width: 55%;
  z-index: 3;
}

.portada{
  grid-row: 2/3;
  grid-column: 1/2;
}

#fondoPortada{
  width: 100%;
}

#años{
  grid-row: 2/3;
  grid-column: 1/2;
  width: 20%;
  align-self: end;
  justify-self: left;
  padding-left: 3vw;
  padding-bottom: 3vh;
}

.dia{
  grid-column: 2/3;
  text-align: right;
  font-size: 2.2vw;
  padding-top: 1vh;
}
.dia0{
  grid-column: 1/2;
  font-size: 1vw;
  color: black;
}

.hora{
  grid-column: 3/4;
  text-align: left;
  font-size: 6vw;
}

.hora2{
  grid-column: 4/5;
  text-align: left;
  font-size: 5vw;
}

.dia1{
  grid-column: 5/6;
  font-size: 1vw;
  color: black;
}

#fecha{
  display: grid;
  grid-template-columns: 1fr auto auto auto 1fr;
  font-family: "ModestoFecha";
  padding-top: 2vh;
  padding-bottom: 2vh;
  align-items: last baseline;
  grid-column-gap: 1vw;
}

#textosApuUbicacion{
  display: grid;
  grid-template-rows: auto auto;
  padding-bottom: 2vh;
}

.textoApu{
  text-align: center;
  font-family: "ModestoAPU";
  font-size: 3.3vw;
}

.textoMendoza{
  text-align: center;
  font-family: "ModestoFecha";
  font-size: 2.3vw;
}

.portadaTexto{
  text-align: center;
  font-family: "ModestoTexto";
  font-size: 2vw;
  width: 80%;
  justify-self: center;
  line-height: 2.5vw;
  padding-bottom: 1.5vh;
}

.seccionReserva{
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 10vw;
  justify-content: center;
  background-color: #1e0501;
  padding: 1.5vh 0;
margin: 1.5vh 0 0;
width: 60vw;
}

.textoReserva{
  grid-column: 1/2;
  font-family: "ModestoTexto";
  text-align: center;
  align-self: center;
  font-size: 1.8vw;
}

.cajaReserva{
  display: flex;
  flex-direction: row;
}

.reserva{
  border:solid;
  border-width: 2px;
  padding:2vh;
  margin:0;
  background-color: #1e0501;
  border-radius: 45px;
  border-color: #8a7e69;
  font-family: "ModestoTexto";
  font-size: 1.8vw;
  display:flex;
  align-items:center;
}

.reserva:hover {
  border-color: black;
  cursor:pointer;
}

.logoWhatsApp{
  width: 6vh;
}

#pag1{
  display: grid;
  justify-content: center;
  justify-items: center;
}

#pag2{
  display: grid;
  justify-content: center;
  background-color: #e3e4c4;
  padding-bottom: 5vh;
}

#pagIntermedia{
  display: grid;
  justify-content: center;
  background: linear-gradient(to bottom, black 50%, #e3e4c4 50%);
}

h3{
  font-family: "ModestoFecha";
  text-align: center;
  font-size: 2vw;
  margin-bottom: 2vh;
  margin-top: 2vh;
}

.programa1{
  display: grid;
  grid-template-columns: max-content auto auto;
  background-color: #e3e4c4;
  width: 50vw;
  font-family: "ModestoFecha";
  padding: 2vh 0 2vh;
  margin: 0 25vw 0;
  align-items: last baseline;
}

#pagIntermedia div.programa1{
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 1.5px;
}

.programa1A{
  color: black;
  font-size: 4vw;
  margin-left: 5vw;
}

.programa1AA{
  color: black;
  font-size: 5vw;
  margin-left: 2vw;
}

.programa1B{
  color: black;
  font-size: 2vw;
  text-align: left;
  margin-left: auto;
  margin-right: 5vw;
}

.pelicula{
  display: grid;
  grid-template-areas: "img texto"
                      "director texto";
  grid-template-columns: 20vw 27vw;
  grid-gap: 3vw;
  padding: 5vh 5vw 2.5vh;
  justify-content: center;
}

.portadaPelicula{
  width: 100%;
}

.textoPelicula{
  grid-area: texto;
}

.genero{
  font-family: "ModestoFecha";
  margin-bottom: 1vh;
  color: #e3e4c4;
  font-size: 1.3vw;
}

.tituloPelicula{
  font-family: "ModestoAPU";
  font-size: 4vw;
  margin-bottom: 1vh;
  color: #e3e4c4;
}

.sinopsis{
  font-family: "ModestoTextoMedium";
  line-height: 2vw;
  font-size: 1.3vw;
}

.fichaPelicula{
  grid-area: director
}

.director, .duracion{
  font-family: "ModestoTextoBold";
  font-size: 1vw;
  margin-bottom: 0.5vh;
  color: #e3e4c4;
}

.nombreDirector, .tiempoDuracion{
  font-family: "ModestoTextoMedium";
  margin-bottom: 0.5vh;
  font-size: 1.5vw;
}

hr{
  width: 50vw;
  margin: 0 5vw 3vh;
  border-color: #e3e4c4;
  color: #e3e4c4;
}

#pag2 div div p.genero,
#pag2 div div p.tituloPelicula,
#pag2 div div p.sinopsis,
#pag2 div div p.director,
#pag2 div div p.duracion,
#pag2 div div p.nombreDirector,
#pag2 div div p.tiempoDuracion{
  color: black;
}

#pag2 hr{
  border-color: black;
}

.creditos{
  display: grid;
  grid-template-areas: "invitan invitan apoyo apoyo"
                        "vereda apu inca inca";
  grid-template-columns: 18.5vw 6.5vw 12.5vw 12.5vw;
  justify-content: center;
  grid-row-gap: 2vh;
  margin-top: 9vh;
  margin-bottom: 5vh;
  text-align: center;
}

.creditos img{
  width: 90%;
}

.invitan{
  grid-area: invitan;
  font-family: "ModestoTexto";
  font-size: 1vw;
}

.apoyo{
  grid-area: apoyo;
  font-family: "ModestoTexto";
  font-size: 1vw;
}

.logoVereda{
  grid-area: vereda;
}

.logoClubApu{
  grid-area: apu;
}

.logoGobierno{
  grid-area: inca;
  justify-self: end;
}

#ubicacion{
  display: grid;
  justify-content: center;
  justify-items: center;
}

#ubicacion .mapaMediano{
  display: block;
  width: 50vw;
  padding-left: auto;
  padding-right: auto;
  margin-bottom: 7vh;
}

#ubicacion .mapaChico{
  display: none;
}



@media screen and (orientation: portrait){

header{
  width: 100vw;
  margin-right: 0;
  margin-left: 0;
  background-color: black;
  display: grid;
  grid-template-areas:
        "presentacion"
        "dia1"
        "dia2"
        "ubicacion";
  grid-template-columns: 100vw;
}

#presentacion{
  grid-area: presentacion;
  display: grid;
  justify-content: center;
}

h1{
  position:fixed;
  left: -10000px;
}

h2{
  font-family: "Modesto";
  font-size: 3vw;
  text-align: center;
  padding-top: 6vh;
  padding-bottom: 3vh;
}

.marcoPortada{
  display: grid;
  grid-template-rows: 4vh auto;
}

#tituloFest{
  grid-row: 1;
  justify-self: center;
  width: 55%;
  z-index: 3;
}

.portada{
  grid-row: 2/3;
  grid-column: 1/2;
}

#fondoPortada{
  width: 100vw;
}

#años{
  grid-row: 2/3;
  grid-column: 1/2;
  width: 20%;
  align-self: end;
  justify-self: left;
  padding-left: 3vw;
  padding-bottom: 3vh;
}

.dia{
  grid-column: 2/3;
  text-align: right;
  font-size: 4.2vw;
  padding-top: 1vh;
}
.dia0{
  grid-column: 1/2;
  font-size: 1vw;
  color: black;
}

.hora{
  grid-column: 3/4;
  text-align: left;
  font-size: 11vw;
}

.hora2{
  grid-column: 4/5;
  text-align: left;
  font-size: 9vw;
}

.dia1{
  grid-column: 5/6;
  font-size: 1vw;
  color: black;
}

#fecha{
  display: grid;
  grid-template-columns: 1fr auto auto auto 1fr;
  font-family: "ModestoFecha";
  padding-top: 2vh;
  padding-bottom: 2vh;
  align-items: last baseline;
  grid-column-gap: 1vw;
}

#textosApuUbicacion{
  display: grid;
  grid-template-rows: auto auto;
  padding-bottom: 2vh;
}

.textoApu{
  text-align: center;
  font-family: "ModestoAPU";
  font-size: 6.3vw;
}

.textoMendoza{
  text-align: center;
  font-family: "ModestoFecha";
  font-size: 5.3vw;
}

.portadaTexto{
  text-align: center;
  font-family: "ModestoTexto";
  font-size: 4vw;
  width: 80%;
  justify-self: center;
  line-height: 5.2vw;
  padding-bottom: 1.5vh;
}

.seccionReserva{
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 10vw;
  justify-content: center;
  background-color: #1e0501;
  margin: 1.5vh 0 0;
  width: 100vw;
}

.textoReserva{
  grid-column: 1/2;
  font-family: "ModestoTexto";
  text-align: center;
  align-self: center;
  font-size: 5vw;;
}

.cajaReserva{
  display: flex;
  flex-direction: row;
}

.reserva{
  grid-column: 2/3;
  border:solid;
  border-width: 2px;
  padding:2vh;
  margin:0;
  background-color: #1e0501;
  border-radius: 45px;
  border-color: #8a7e69;
  font-family: "ModestoTexto";
  font-size: 4.7vw;
  display:flex;
  align-items:center;
}

.reserva:hover {
  border-color: black;
  cursor:pointer;
}

.logoWhatsApp{
  width: 6vh;
}

#pag1{
  display: grid;
  justify-content: center;
}

#pag2{
  display: grid;
  justify-content: center;
  background-color: #e3e4c4;
  padding-bottom: 5vh;
}

#pagIntermedia{
  display: grid;
  justify-content: center;
  background: linear-gradient(to bottom, black 50%, #e3e4c4 50%);
}

h3{
  font-family: "ModestoFecha";
  text-align: center;
  font-size: 4.5vw;
  margin-bottom: 2vh;
  margin-top: 2vh;
}

.programa1{
  display: grid;
  grid-template-columns: max-content auto auto;
  background-color: #e3e4c4;
  width: 90vw;
  font-family: "ModestoFecha";
  padding: 2vh 0 2vh;
  margin: 0 5vw 0;
  align-items: last baseline;
}

#pagIntermedia div.programa1{
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 1.5px;
}

.programa1A{
  color: black;
  font-size: 12vw;
  margin-left: 4vh;
}

.programa1AA{
  color: black;
  font-size: 15vw;
  margin-left: 2vw;
}

.programa1B{
  color: black;
  font-size: 5.5vw;
  text-align: left;
  margin-left: auto;
  margin-right: 4vh;
}

.pelicula{
  display: grid;
  grid-template-areas: "img texto"
                      "director texto";
  grid-template-columns: 35vw 50vw;
  grid-gap: 5vw;
  padding: 5vh 5vw 2.5vh;
}

.portadaPelicula{
  width: 100%;
}

.textoPelicula{
  grid-area: texto;
}

.genero{
  font-family: "ModestoFecha";
  margin-bottom: 1vh;
  color: #e3e4c4;
  font-size: 3vw;
}

.tituloPelicula{
  font-family: "ModestoAPU";
  font-size: 7.5vw;
  margin-bottom: 1vh;
  color: #e3e4c4;
}

.sinopsis{
  font-family: "ModestoTextoMedium";
  line-height: 4.2vw;
  font-size: 3.2vw;
}

.fichaPelicula{
  grid-area: director
}

.director, .duracion{
  font-family: "ModestoTextoBold";
  font-size: 2.4vw;
  margin-bottom: 0.5vh;
  color: #e3e4c4;
}

.nombreDirector, .tiempoDuracion{
  font-family: "ModestoTextoMedium";
  margin-bottom: 0.5vh;
  font-size: 3.6vw;
}

hr{
  width: 90vw;
  margin: 0 5vw 3vh;
  border-color: #e3e4c4;
  color: #e3e4c4;
}

#pag2 div div p.genero,
#pag2 div div p.tituloPelicula,
#pag2 div div p.sinopsis,
#pag2 div div p.director,
#pag2 div div p.duracion,
#pag2 div div p.nombreDirector,
#pag2 div div p.tiempoDuracion{
  color: black;
}

#pag2 hr{
  border-color: black;
}

.creditos{
  display: grid;
  grid-template-areas: "invitan invitan apoyo apoyo"
                        "vereda apu inca inca";
  grid-template-columns: 30vw 10vw 20vw 20vw;
  justify-content: center;
  grid-row-gap: 2vh;
  margin-top: 9vh;
  margin-bottom: 5vh;
  text-align: center;
}

.creditos img{
  width: 90%;
}

.invitan{
  grid-area: invitan;
  font-family: "ModestoTexto";
  font-size: 3vw;
}

.apoyo{
  grid-area: apoyo;
  font-family: "ModestoTexto";
  font-size: 3vw;
}

.logoVereda{
  grid-area: vereda;
}

.logoClubApu{
  grid-area: apu;
}

.logoGobierno{
  grid-area: inca;
  justify-self: end;
}

  #ubicacion .mapaMediano{
    display: none;
  }

  #ubicacion .mapaChico{
    display: block;
    width: 90vw;
    margin-bottom: 7vh;
    height: 40vh;
  }
}
