@font-face {
  font-family:'Ubuntu', sans-serif;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family:'Ubuntu', sans-serif;
  text-decoration: none;
  list-style: none;
}

header{
  background-image: url("/public/files/boho-art-7687374_1280.jpg");
  background-repeat: repeat, no-repeat;
  background-position-x: 0vw, center;
  background-position-y: -2vh, bottom;
  background-size: 100%;
  min-height: 100vh;
}

a{
  color: black;
}

a:hover{
	color: rgb(238, 214, 135);
}

h1{
  position:fixed;
  left: -10000px;
}

div#pagPresentacion{
  display: grid;
  grid-template-areas:
        "menuHamburguesa logo logovacio socialLink"
        "contenido1 contenido1 fotos socialLink"
        "contenido contenido contenido socialLink"
        "footer footer footer footer";
  grid-template-columns: 2fr 1fr 3fr 4vw;
  grid-row-gap: 2vh;
  /* height: 100vh; */
  overflow: clip;
  grid-template-rows: 40vh auto auto;
}

.modeloSubpag div#pagPresentacion{
  grid-template-areas:
        "menuHamburguesa logo socialLink"
        "contenido contenido socialLink"
        "footer footer footer";
  grid-template-columns: 1fr 2fr 4vw;
  grid-template-rows: 40vh 56vh;
  overflow: auto;
}

.modeloSubpag.admin div#pagAdmin{
  display: grid;
  grid-template-areas:
        "titulo menu"
        "contenido contenido"
        "footer footer";
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 10vh auto auto;
}

.modeloSubpag.actividades div#pagPresentacion{
  grid-template-areas:
        "menuHamburguesa logo socialLink"
        "contenido contenido socialLink"
        "footer footer footer";
  grid-template-columns: 1fr 2fr 4vw;
  grid-template-rows: 40vh auto auto;
  overflow: auto;
}

h2.admin{
  grid-area: titulo;
  font-size: 3vw;
  align-self: end;
  justify-self: center;;
}

div.topMenu.admin{
  display: grid;
}

div.form.admin{
  grid-area: contenido;
}

div.admin form ul li{
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 2vw;
  margin-top: 2vh;
}

div.admin form ul.editFotos{
  display: grid;
  grid-template-columns: repeat(5, 18vw);
  grid-column-gap: 2vw;
  margin-top: 2vh;
}

div.admin form ul li.grideliminarfotoyaudio{
  display: grid;
  grid-template-areas:
    "foto foto"
    "input label";
  grid-row-gap: 0.5vw;
  grid-column-gap: 0.5vw;
  grid-template-columns: 1fr auto;
  margin-top: 2vh;
}

div.admin form ul li img.editfotosdeEntrada{
  grid-area: foto;
  justify-self: right;
  width: 70%;
}

div.admin form ul li input.editfotosdeEntrada{
  grid-area: input;
  justify-self: right;
  width: 1.5em;
}

div.form.admin form ul li label.editfotosdeEntrada{
  grid-area: label;
}

input[type="checkbox"]:checked ~ img.editfotosdeEntrada{
  opacity: 0.3;
}

input.admin, select.admin{
  width: fit-content;
}

input#enPaginaInicio{
  justify-self: left;
}

button.botonFinal{
  margin: 3vh;
  font-size: 1em;
  justify-self: right;
  margin-right: 25vw;
}

div.topMenu.admin ul{
  align-self: end;
  text-align: right;
  margin-right: 3vh;
}

div.topMenu.admin ul li{
  margin-top: 1vh;
}

div.form.admin form{
  display: grid;
}

div.form.admin form ul li label{
  grid-column: 1/2;
  text-align: right;
}

div.form.admin form ul li p{
  grid-column: 2/3;
}

div.listaUnaActividad{
  grid-area: contenido;
}

div.contenidoUsuarios{
  display: grid;
  grid-template-areas: "titulo"
                      "contenido";
  grid-row-gap: 2vh;
  margin: 2vh;
  grid-area: contenido;
}

div.datosActividad{
  display: grid;
  grid-template-areas: "imagen datos"
                      "imagen datos"
                      "descripcion descripcion"
                      "fotos fotos";
  grid-template-columns: 40vw 50vw;
  grid-column-gap: 2vw;
  grid-row-gap: 1.5vh;
  margin: 2vh;
}

div.datosActividad img{
  grid-area: imagen;
  width: 100%;
}

div.datosActividad div.informacionActividad{
  grid-area: datos;
  font-size: 1.5em;
  line-height: 2em;
}

div.datosActividad div.informacionActividad h2{
  font-size: 3em;
  margin-bottom: 1em;
  line-height: 1em;
}

div.datosActividad div.informacionActividad h3{
  font-size: 2em;
  margin-bottom: 1em;
}

div.datosActividad div.descripcion{
  grid-area: descripcion;
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 2vh auto;
}

div.datosActividad ul{
  grid-area: fotos;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2vw;
  margin: 2vh;
}

div.listaTodasLasActividades{
  grid-area: contenido;
}

div.listaTodasLasActividades ul{
  grid-area: contenido;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2vw;
  margin: 2vh;
}

div.listaTodasLasActividades ul li{
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  margin-top: 2vh;
}

div.listaTodasLasActividades ul li img{
  grid-column: 1/2;
  width: 80%;
}

div.listaTodasLasActividades ul li div.datos{
  grid-column: 2/3;
  font-size: 1.3em;
  line-height: 1.5em;
}

div.listaTodasLasActividades ul li div.datos h3{
  font-size: 1.8em;
}

#menuON span{
  position: absolute;
  width: 2.5vw;
  height: 0.35vw;
  border-radius: 4px;
  display: block;
  background: #76253A;
  top: 0.7vw;
  left: calc(50% - 1.3vw);
}

#menuON span:nth-child(2){
	top: calc(50% - 0.2vw);
}

#menuON span:nth-child(3){
  bottom: 0.7vw;
  top: auto;
}

#pagPresentacion input{
  display: none;
}

#pagPresentacion label{
  cursor: pointer;
  width: 4vw;
  height: 3vw;
  display: inline-block;
  z-index: 7;
  /* position: absolute; esto antes funcionaba... si va mal reactivarlo, y eliminar linea 219 del CSS input[type="checkbox"]:checked ~ #pagPresentacion label{}*/
  position: relative;
  background-color: rgba(214, 244, 239, 0.2);
  margin: 4vw 1.5vw;
  border-radius: 10px;
}

#pagPresentacion #menuON:hover{
  border: 1px solid #76253A;
  border-radius: 10px;
}

input[type="checkbox"]:checked ~ nav.MenuDesplegable {
  left: 0;
  grid-area: menuHamburguesa;
  position:relative;
}

input[type="checkbox"]:checked ~ nav.MenuDesplegableModeloSubpag {
  left: 0;
  grid-area: menuHamburguesa;
  position:relative;
}

input[type="checkbox"]:checked ~ #menuON {
  position:absolute;
  z-index: 15;
}

input[type="checkbox"]:checked ~ #LogoApuModeloSubpag,
input[type="checkbox"]:checked ~ #botonLogoModeloSubpag {
  opacity: 0.5;
  transform: translateX(14vw);
}

#LogoApu{
  grid-area: logo;
  justify-self: right;
  height: 33vh;
  margin: 4vh 0 2vw;
  position: relative;
  z-index: 5;
  transition: all 0.50s ease;
}

#LogoApuModeloSubpag{
  grid-area: logo;
  justify-self: initial;
  height: 18vh;
  margin: 4vh 0 2vw;
  position: relative;
  z-index: 5;
  transition: all 0.50s ease;
}

#LogoApuModeloSubpag.listaTodasLasActividades{
  height: 34vh;
}

#pagPresentacion label#botonLogo{
  display: block;
  width: 13vw;
  height: 33vh;
  grid-area: logo;
  justify-self: center;
  position: relative;
  z-index: 8;
  transition: all 0.50s ease;
  align-self: center;
  background-color: inherit;
}

#pagPresentacion label#botonLogoModeloSubpag{
  display: block;
  width: 10vw;
  height: 15vw;
  grid-area: logo;
  justify-self: initial;
  position: relative;
  z-index: 8;
  transition: all 0.50s ease;
  align-self: initial;
  background-color: inherit;
}

nav.MenuDesplegable{
  grid-area: menuHamburguesa;
	position: absolute;
	top: 0;
	/* bottom: 6vw; */
	left:-30vw; /* Escondemos nuestro menú con un valor negativo */
	width: 30vw;
	z-index: 5;
	padding: 7vw 2vw 2vw;
	background: rgba(161, 134, 123, 0.7);
	transition: all 0.50s ease;
	font-size: 1.4vw;
	overflow-y: auto;
}

nav.MenuDesplegable a{
	display:block;
	text-decoration: none;
	padding: 1.5vh 1vw 1vh;
	transition: all ease 0.25s;
  font-weight: bold;
  font-size: 1em;
  width: max-content;
}

nav.MenuDesplegable li{
	position: relative;
}

ul.submenu{
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 8;
}

ul.submenu li{
  justify-content: right;
  display: grid;
}

ul.submenu li a{
  width: 16vw;
  text-align: right;
}

ul.MenuDesplegable1 li a:hover ~ ul.submenu{
  display: block;
}

ul.submenu:hover{
  display: block;
}

div.SocialLink{
  background-color: rgba(149, 131, 117, 0.7);
  display: grid;
  justify-items: center;
  align-content: end;
  width: 4vw;
  height: 100%;
  padding-bottom: 5vh;
  z-index: 8;
  position: fixed;
  right: 0;
  margin-right: 0.5vw;
}

div.SocialLink a{
  width: 3vw;
  text-decoration: none;
  font-weight: bold;
  font-size: 1vw;
  margin-top: 3vw;
}

div.SocialLink img{
  width: 3vw;
}

a#subscribe-button{
  text-decoration: none;
  font-size: 1.4vw;
  letter-spacing: 1.1vw;
  word-wrap: break-word;
  text-align:center;
}

.proximasActividades1{
  grid-area: contenido1;
  margin-left: 2vw;
  overflow: clip;
  height: 50vh;
}

.proximasActividades{
  grid-area: contenido;
  margin-left: 2vw;
  overflow: clip;
}

.proximasActividades1 h2 {
  font-size: 2em;
}
.listaActividades{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2vw;
}
.proximasActividades li,
.proximasActividades1 div.datosFrontpage1{
  display: grid;
  grid-template-areas: "foto titulo";
  margin: 3vh 2vh 1vh 0;
  grid-gap: 2vh;
  text-align: left;
  grid-template-columns: 40% 60%;
}
.proximasActividades li a,
.proximasActividades1 div a{
  font-size: 2em;
}

.proximasActividades li a:hover,
.proximasActividades1 div a:hover{
	color: rgb(164, 136, 42);
}

.proximasActividades img,
.proximasActividades1 img{
  width: 100%;
  grid-area: foto;
  overflow: clip;
}
.proximasActividades li div.datosFrontpage,
.proximasActividades1 div div.datosFrontpage{
  grid-area: titulo;
}

.proximasActividades li div.datosFrontpage div,
.proximasActividades1 div div.datosFrontpage div{
  margin-bottom: 2vh;
  font-size: 1.5em;
}

.proyeccionFotos{
  grid-area: fotos;
  overflow: hidden;
  display: grid;
  background-color: #896f6d73;
  border-color: #896f6d;
  margin-right: 3vh;
  border-style: solid;
  border-width: 2vh;
  height: 50vh;
}

.proyeccionFotos li{
  display: grid;
  justify-items: center;
}

.proyeccionFotos img{
  width: auto;
  height: 46vh;
}

.proyeccionFotos img.opacidad{
  transition: all 1s ease-out;
}

div.entrada{
  grid-area: contenido;
  display: grid;
  grid-template-areas: "titulo imgPrincipal"
                      "contenido imgPrincipal"
                      "fotos fotos";
  grid-template-rows: 20vh 30vh 2fr;
  grid-template-columns: 55vw 39vw;
  grid-gap: 2vh;
}

h2.tituloEntrada{
  grid-area: titulo;
  font-size: 5vw;
  text-align: end;
}

img.imgPrincipal{
  grid-area: imgPrincipal;
  max-width: 40vw;
  max-height: 50vh;
  margin-right: 5vw;
  justify-self: end;
}

p.contenidoEntrada{
  grid-area: contenido;
  text-align: end;
  font-size: 1.8vw;
  line-height: 1.5em;
  margin-left: 10vw;
}

div#sliderModelo{
    grid-area: fotos;
}

div#sliderModelo img{
  width: 35%;
  display: inline;
}

/* desde acá para admin */

form.password div label,
form.password div input,
form.password div button,
form.password input{
  font-size: 1em;
  margin-top: 1em;
}

form.password{
  margin-right: 2em;
  text-align: right;
}

@media screen and (orientation: portrait){

  header{
    background-size: auto;
  }

  div#pagPresentacion{
    display: grid;
    grid-template-areas: "menuHamburguesa logo socialLink"
    "fotos fotos socialLink"
    "contenido1 contenido1 socialLink"
    "contenido contenido socialLink"
    "footer footer footer";
    grid-template-columns: 15vw 75vw 9vw;
    overflow: auto;
    grid-template-rows: 40vh auto auto;
    height: auto;
  }

  #pagPresentacion label#botonLogo, #botonLogoModeloSubpag {
    width: 42vw;
    height: 30vh;
    margin: 3vw 2.5vw;
    border-radius: 10px;
  }

  #pagPresentacion label {
	width: 8vw;
	height: 5vw;
	margin: 3vw 2.5vw;
}

  #menuON span{
    width: 4.5vw;
    height: 0.75vw;
    border-radius: 4px;
    top: 0.9vw;
    left: calc(50% - 1.7vw);
  }

  #LogoApu{
    justify-self: center;
  }

  input[type="checkbox"]:checked ~ #LogoApu,
  input[type="checkbox"]:checked ~ #botonLogo,
  input[type="checkbox"]:checked ~ #LogoApuModeloSubpag,
  input[type="checkbox"]:checked ~ #botonLogoModeloSubpag{
    opacity: 0.1;
    /* transform: translateY(40vh); */
    z-index: 8;
  }

  input[type="checkbox"]:checked ~ nav.MenuDesplegable {
    width: 90vw;
    grid-area: menuHamburguesa;
      grid-row-start: menuHamburguesa;
      grid-row-end: menuHamburguesa;
      grid-column-start: menuHamburguesa;
      grid-column-end: logo;
      z-index: 12;
  }

  input[type="checkbox"]:checked ~ #botonLogo{
    display: none;
  }

  /* desde aca revisar */

  nav.MenuDesplegable{
  	left:-85vw; /* Escondemos nuestro menú con un valor negativo */
  	width: 85vw;
  	padding: 9vw 4vw 2vw;
  	font-size: 4vw;
  }

  nav.MenuDesplegable a{
  	padding: 2vw 1vw 1vw;
    font-weight: bold;
    font-size: larger;
    width: max-content;
  }

  /* hasta aca revisar */

  ul.submenu li a{
    width: 32vw;
  }

  ul.MenuDesplegable1 li a:target ~ ul.submenu{
    display: block;
  }

  div.SocialLink{
    width: 9vw;
    right: 5px;
  }

  div.SocialLink a{
    width: 7vw;
  }

  div.SocialLink img{
    width: 8vw;
  }

  a#subscribe-button{
    font-size: 3.4vw;
    letter-spacing: 2.3vw;
  }

  .proyeccionFotos{
    margin-left: 3vh;
    height: 36vh;
  }

  .proyeccionFotos img {
  height: 32vh;
  }

  div.proximasActividades1,
  div.proximasActividades{
    margin-right: 2vw;
    height: auto;
  }

  .proximasActividades li,
  .proximasActividades1 div.datosFrontpage1{
    grid-template-areas:
              "foto"
              "titulo";
    margin: 3vh 0 2vh;
    grid-template-columns: auto;
    grid-template-rows: 35vh auto;
    grid-gap: 0;
  }

  .proximasActividades li div.datosFrontpage div,
  .proximasActividades1 div div.datosFrontpage div {
    margin-bottom: 1vh;
  }

  .proximasActividades img,
  .proximasActividades1 img {
    height: 90%;
    justify-self: center;
  }

  div.proximasActividades h2{
  	font-size: 2em;
  }

  ul.listaActividades {
  	display: block;
  	height: auto;
  }

  .proximasActividades a {
    grid-area: titulo;
  }

  h2.admin{
    font-size: 6vw;
  }

  div.listaTodasLasActividades ul {
  display: block;
  margin: 0;
  }

  div.listaTodasLasActividades ul li {
    display: block;
  }

  div.datosActividad {
    display: grid;
    grid-template-areas:
                  "imagen"
                  "datos"
                  "descripcion"
                  "fotos";
    grid-template-columns: 90vw;
    grid-column-gap: 0;
    grid-row-gap: 1.5vh;
    margin: 2vh;
  }

  div.datosActividad img {
    grid-area: imagen;
    width: 90%;
  }

  div.datosActividad ul {
  grid-template-columns: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 1vh;
}

  .modeloSubpag.admin div#pagAdmin {
    grid-template-areas:
    "titulo"
    "menu"
    "contenido"
    "footer";
    grid-template-columns: 95vw;
    grid-template-rows: auto;
    padding: 2vw;
  }

  div.admin form ul li {
    grid-template-columns: auto 1fr;
  }

  .modeloSubpag.admin div#pagAdmin div.topMenu.admin ul{
    margin-bottom: 3vh;
    margin-right: 6vw;
  }

  input.admin{
    width: 90%;
  }

  input#EditFecha {
  width: fit-content;
}

  textarea#EditDescripcion {
    width: 90%;
  }

  button.botonFinal {
    justify-self: right;
    margin-right: 5vw;
    margin-bottom: 0;
  }

}

/* desde acá css para subpag ubicacion.html */

.pagUbicacion div#pagPresentacion{
  display: grid;
  grid-template-areas:
        "menuHamburguesa logo socialLink"
        "contenido contenido socialLink"
        "footer footer footer";
  grid-template-columns: 1fr 2fr 4vw;
  grid-template-rows: 40vh auto auto;
  grid-row-gap: 2vw;
  grid-column-gap: 2vw;
}

.pagUbicacion div#pagPresentacion #LogoApu{
  justify-self: auto;
  margin: 5vw 3vw 2vw;
  grid-area: logo;
  height: 80%;
}

.pagUbicacion div#pagPresentacion label#botonLogo{
  width: 18vw;
  height: 27vh;
  justify-self: auto;
  margin: 5vw 3vw auto;
  grid-area: logo;
  }

div.textoUbicacion{
  grid-area: logo;
  justify-self: end;
  text-align: right;
  margin: 10vw 10vw auto auto;
  font-size: 2.5vh;
  line-height: 4vh;
  font-weight: bold;
}

div.textoUbicacionModelosubpag {
  grid-area: logo;
  justify-self: end;
  text-align: right;
  font-size: 1.5vh;
  line-height: 2.5vw;
  margin: 4vw 5vw auto auto;
}

div.ubicacion{
  grid-area: contenido;
  justify-self: center;
}

div.ubicacion .mapaChico{
  display: none;
}

@media screen and (orientation: portrait){

  header.pagUbicacion{
    height: 100vh;
  }

  .pagUbicacion div#pagPresentacion {
    display: grid;
    grid-template-areas: "menuHamburguesa logo socialLink" "texto texto socialLink" "contenido contenido socialLink" "footer footer footer";
    grid-template-columns: 15vw 75vw 10vw;;
    grid-template-rows: 40vh auto auto auto;
    grid-row-gap: 2vw;
    height: 100vh;
    grid-column-gap: 0;
  }

  .pagUbicacion div#pagPresentacion label#botonLogo {
	width: 50vw;
	height: 80%;
}

input[type="checkbox"]:checked ~ .pagUbicacion div#pagPresentacion nav.MenuDesplegable {
	grid-area: menuHamburguesa/menuHamburguesa/contenido/menuHamburguesa;
	width: 100%;
}

.pagUbicacion ul.submenu {
    right: 7vw;
}

div.textoUbicacion {
	grid-area: texto;
	text-align: left;
	margin: 4vw auto auto 4vw;
	font-size: 2vh;
  line-height: 3vh;
}

  div.ubicacion .mapaMediano{
    display: none;
  }

  div.ubicacion .mapaChico{
    display: block;
    width: 100%;
  }
}
