@font-face {
  font-family:'Ubuntu', sans-serif;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family:'Ubuntu', sans-serif;
  text-decoration: none;
  list-style: none;
}

header{
  background-image: url("../../design/BackgroundMontañasTierra.png"), linear-gradient(to bottom, rgba(191, 181, 90, 1) 49%, rgba(191, 181, 90, 1) 1%, rgb(255, 152, 68) 1%, rgb(255, 152, 68) 49%);
  background-repeat: no-repeat, no-repeat;
  background-position-x: 0vw, center;
  background-position-y: 12vw, bottom;
  background-size: 100%;
}

h1{
  position:fixed;
  left: -10000px;
}

div#pagPresentacion{
  display: grid;
  grid-template-areas:
        "logo logo logo socialLink"
        "evento evento fotos socialLink"
        "footer footer footer footer";
  grid-template-columns: 1.5fr 1fr 1.5fr 4vw;
  grid-row-gap: 2vh;
  height: 100vh;
  overflow: clip;
  grid-template-rows: 40vh 56vh;
}

#menuON span{
  position: absolute;
  width: 2.5vw;
  height: 0.35vw;
  border-radius: 4px;
  display: block;
  background: #76253A;
  top: 0.7vw;
  left: calc(50% - 1.3vw);
}

#menuON span:nth-child(2){
	top: calc(50% - 0.2vw);
}

#menuON span:nth-child(3){
  bottom: 0.7vw;
  top: auto;
}

#pagPresentacion input{
  display: none;
}

#pagPresentacion label{
  cursor: pointer;
  width: 4vw;
  height: 3vw;
  display: inline-block;
  z-index: 7;
  position: absolute;
  background-color: rgba(214, 244, 239, 0.2);
  margin: 2vw 1.5vw;
  border-radius: 10px;
}

#pagPresentacion #menuON:hover{
  border: 1px solid #76253A;
  border-radius: 10px;
}

input[type="checkbox"]:checked ~ nav.MenuDesplegable {
  left: 0;
  grid-area: logo;
  position:relative;
}

input[type="checkbox"]:checked ~ #LogoApu,
input[type="checkbox"]:checked ~ #botonLogo {
  opacity: 0.5;
  transform: translateX(20vw);
}

#LogoApu{
  grid-area: logo;
  justify-self: center;
  height: 33vh;
  margin: 4vh 0 2vw;
  position: relative;
  z-index: 5;
  transition: all 0.50s ease;
}

#pagPresentacion label#botonLogo{
  display: block;
  width: 28vw;
  height: 33vw;
  grid-area: logo;
  justify-self: center;
  position: relative;
  z-index: 8;
  transition: all 0.50s ease;
  align-self: center;
  background-color: inherit;
}

nav.MenuDesplegable{
	position: absolute;
	top: 0;
	/* bottom: 6vw; */
	left:-30vw; /* Escondemos nuestro menú con un valor negativo */
	width: 30vw;
	z-index: 5;
	padding: 7vw 2vw 2vw;
	background: rgba(104, 197, 219, 0.3);
	transition: all 0.50s ease;
	font-size: 1.4vw;
	overflow-y: auto;
}

nav.MenuDesplegable a{
	display:block;
	text-decoration: none;
	padding: 1.5vh 1vw 1vh;
	color: rgba(255,255,255,1);
	transition: all ease 0.25s;
  font-weight: bold;
  font-size: 1em;
  width: max-content;
}

nav.MenuDesplegable li{
	position: relative;
}

nav.MenuDesplegable a:hover{
	color: rgb(238, 214, 135);
}

ul.submenu{
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 8;
}

ul.submenu li{
  justify-content: right;
  display: grid;
}

ul.submenu li a{
  width: 16vw;
  text-align: right;
}

ul.MenuDesplegable1 li a:hover ~ ul.submenu{
  display: block;
}

ul.submenu:hover{
  display: block;
}

div.SocialLink{
  background-color: rgb(167, 111, 46);
  display: grid;
  justify-items: center;
  align-content: end;
  width: 4vw;
  height: 100%;
  padding-bottom: 5vh;
  z-index: 8;
  position: fixed;
  right: 0;
}

div.SocialLink a{
  width: 3vw;
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 1vw;
  margin-top: 3vw;
}

div.SocialLink img{
  width: 3vw;
}

a#subscribe-button{
  text-decoration: none;
  color: white;
  font-size: 1.4vw;
  letter-spacing: 1.1vw;
  word-wrap: break-word;
  text-align:center;
}

.proximasActividades{
  grid-area: evento;
  margin-left: 2vw;
  overflow: clip;
}
.listaActividades{
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100%;
}
.proximasActividades li{
  display: grid;
  grid-template-areas: "foto titulo"
  "foto resumen";
  margin: 1vh 2vh 1vh 0;
  grid-template-rows: 1fr 2fr;
  grid-gap: 3vh;
  overflow: clip;
  text-align: left;
  grid-template-columns: max-content;
}
.proximasActividades h3{
  grid-area: titulo;
  font-size: 1.5em;
}
.proximasActividades img{
  width: 15vw;
  grid-area: foto;
  overflow: clip;
}
.proximasActividades p{
  grid-area: resumen;
}

.proyeccionFotos{
  grid-area: fotos;
  overflow: hidden;
  display: grid;
}

div #marcoPrimero{
  width: 34vw;
  align-self: center;
}

.proyeccionFotos img{
  width: 100%;
  height: auto;
}

.proyeccionFotos img.opacidad{
  transition: all 1s ease-out;
}

@media screen and (orientation: portrait){

  header{
    background-position-y: 33vw, bottom;
    background-image: url("../../design/BackgroundMontañasTierra.png"),
    linear-gradient(to bottom, rgb(191, 181, 90) 40vh, rgb(191, 181, 90) 1%,
    rgb(255, 152, 68) 1%, rgb(255, 152, 68) 49%);
  }

  div#pagPresentacion{
    display: grid;
    grid-template-areas: "logo logo logo socialLink"
    "fotos fotos fotos socialLink"
    "evento evento evento socialLink"
    "footer footer footer footer";
    grid-template-columns: 1fr 2fr 1fr 9vw;
    overflow: auto;
    grid-template-rows: 40vh auto auto;
    height: auto;
  }

  #pagPresentacion label#botonLogo{
    width: 42vw;
    height: 30vh;
    margin: 3vw 2.5vw;
    border-radius: 10px;
  }

  #pagPresentacion label {
	width: 8vw;
	height: 5vw;
	margin: 3vw 2.5vw;
}

  #menuON span{
    width: 4.5vw;
    height: 0.75vw;
    border-radius: 4px;
    top: 0.9vw;
    left: calc(50% - 1.7vw);
  }

  input[type="checkbox"]:checked ~ #LogoApu,
  input[type="checkbox"]:checked ~ #botonLogo {
    opacity: 1;
    transform: translateY(40vh);
    z-index: 6;
  }

  input[type="checkbox"]:checked ~ nav.MenuDesplegable {
    grid-area: logo/logo/fotos/logo;
    width: 100%;
  }

  /* desde aca revisar */

  nav.MenuDesplegable{
  	left:-85vw; /* Escondemos nuestro menú con un valor negativo */
  	width: 85vw;
  	padding: 9vw 4vw 2vw;
  	background: rgba(104, 197, 219, 0.5);
  	font-size: 4vw;
  }

  nav.MenuDesplegable a{
  	padding: 2vw 1vw 1vw;
    font-weight: bold;
    font-size: larger;
    width: max-content;
  }

  /* hasta aca revisar */

  ul.submenu li a{
    width: 32vw;
  }

  ul.MenuDesplegable1 li a:target ~ ul.submenu{
    display: block;
  }

  div.SocialLink{
    width: 9vw;
    right: 0;
  }

  div.SocialLink a{
    width: 7vw;
  }

  div.SocialLink img{
    width: 8vw;
  }

  a#subscribe-button{
    font-size: 3.4vw;
    letter-spacing: 2.3vw;
  }

  .proyeccionFotos{
    display: grid;
    height: 36vh;
  }

  div #marcoPrimero{
    width: 80%;
    height: auto;
    justify-self: center;
    align-self: center;
  }
div.proximasActividades{
  margin-left: 4vw;
  overflow: auto;
}

div.proximasActividades h2{
	font-size: 1em;
}

ul.listaActividades {
	display: block;
	height: auto;
}

.proximasActividades li {
	grid-template-areas: "titulo titulo" "foto resumen";
	margin: 3vh 2vw 1vh 0vw;;
	grid-template-rows: auto auto;
	grid-gap: 1.5vh;
	overflow: auto;
	text-align: left;
	grid-template-columns: auto auto;
}

.proximasActividades h3 {
	font-size: 1em;
}

.proximasActividades img {
    width: 36vw;
    overflow: clip;
}

.proximasActividades p {
	font-size: 0.9em;
}

}

/* desde acá css para subpag ubicacion.html */

.pagUbicacion div#pagPresentacion{
  display: grid;
  grid-template-areas:
        "logo logo socialLink"
        "mapa mapa socialLink"
        "footer footer footer";
  grid-template-columns: 1fr 1fr 4vw;
  grid-template-rows: 35vh auto auto;
  grid-row-gap: 2vw;
  grid-column-gap: 2vw;
}

.pagUbicacion div#pagPresentacion #LogoApu{
  justify-self: auto;
  margin: 5vw 12vw 2vw;
  grid-area: logo;
  height: 80%;
}

.pagUbicacion div#pagPresentacion label#botonLogo{
  width: 18vw;
  height: 27vh;
  justify-self: auto;
  margin: 5vw 12vw auto;
  grid-area: logo;
  }

div.textoUbicacion{
  grid-area: logo;
  justify-self: end;
  text-align: right;
  margin: 4vw 10vw auto auto;
  font-size: 2.5vh;
  line-height: 4vw;
  transition: all 0.50s ease;
}

input[type="checkbox"]:checked ~ div.textoUbicacion{
  font-size: 2vh;
}

div.ubicacion{
  grid-area: mapa;
  justify-self: center;
}

div.ubicacion .mapaChico{
  display: none;
}

@media screen and (orientation: portrait){

  header.pagUbicacion{
    height: 100vh;
  }

  .pagUbicacion div#pagPresentacion {
    display: grid;
    grid-template-areas: "logo logo socialLink" "texto texto socialLink" "mapa mapa socialLink" "footer footer footer";
    grid-template-columns: 1fr 1fr 4vw;
    grid-template-rows: 35vh auto auto auto;
    grid-row-gap: 2vw;
    height: 100vh;
  }

  .pagUbicacion div#pagPresentacion #LogoApu{
    margin: 5vh auto 2vh;
  }

  .pagUbicacion div#pagPresentacion label#botonLogo {
	width: 38vw;
	height: 47vw;
	margin: 5vh auto auto;
}

input[type="checkbox"]:checked ~ .pagUbicacion div#pagPresentacion nav.MenuDesplegable {
	grid-area: logo/logo/mapa/logo;
	width: 100%;
}

.pagUbicacion ul.submenu {
    right: 7vw;
}

div.textoUbicacion {
	grid-area: texto;
	text-align: left;
	margin: 4vw auto auto 4vw;
	font-size: 2vh;
}

  /*  .pagUbicacion div#pagPresentacion{
    transition: all 0.50s ease;
  }

   input[type="checkbox"]:checked ~ .pagUbicacion div#pagPresentacion{
      grid-template-rows: 55vw auto auto;
  } */

  div.ubicacion .mapaMediano{
    display: none;
  }

  div.ubicacion .mapaChico{
    display: block;
    width: 90%;
  }
}
